<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/get_name">
                <% if session[:username] %>
                  Hello, <%= session[:username] %>
                <% else %>
                  Hello, Guest!
                <% end %>
              </a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <% if @msg %>
      <div class="alert alert-notice"><%=@msg%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
