<form action='/store_name' method='post'>
  <fieldset>
    <legend>Welcome to Blackjack!</legend>
    <label>Enter your name:</label>
    <div class="input-append">
      <input class="span2" id="appendedInputButton" type="text" placeholder="Your name…" name="username">
      <button type="submit" class="btn">Submit</button>
    </div>
  </fieldset>
</form>